.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 86.2vh;
  padding: 20px;
  justify-content: space-between;
}
.sidebar-container-top {
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* padding: 10px; */
}
.sidebar-container-top img {
  width: 20px;
  height: 20px;
}
.sidebar-container-bottom {
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* padding: 10px; */
}
.sidebar-container-bottom img {
  width: 20px;
  height: 20px;
}
